* {
  margin: 0;
}
body {
  background: #f7f7f9;
}
.profession-info span {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #c1c7d0;
}
.tech-list p {
  border-radius: 8px;
  background: #ebebff;
  height: 30px;
  color: #6070ff;
}
.card {
  margin-bottom: 2rem;
}
.about-me {
  border-top-right-radius: 4rem;
}
.about {
  margin: 2rem;
}
